*{
  box-sizing: border-box;
}

html{
  background-color: #fff;
  border: 7px solid orange;
  height: 100vh;
}

h1{
  text-align: center;
  text-decoration: underline;
}

h2{
  margin-left: 35px;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: rgb(31, 31, 2);
  font-weight: bolder;
}

a:hover{
  color: red;
}

a:active{
  color:green;
}

a:visited{
  color: purple;
}